<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>barc &mdash; {{ page.title }}</title>
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />
    <!-- print CSS -->
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
    <meta content='Home of the Birmingham Autonomous Robot Club' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>

    <div id='wrap'>
      <div id='header'>
        <a href='{{root_url}}/' title="birmingham autonomous robot club"><img alt='barc' src='{{root_url}}/images/barc.png'></a>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>Start Here
            <ol class="toc">
              <li><a href='/index.html'>Home</a></li>
              <li><a href='/quick_start.html'>Quick Start</a></li>
              <li><a href='/tutorials/list.html'>Tutorial List</a></li>
              <li><a href='/about_us.html'>About us</a></li>
              <li><a href='/robots.html'>Our Robots</a></li>
            </ol>
          </li>
          <li>Get Involved
	    <ol class="toc">
	      <li><a href='/joining_us.html'>Joining BARC</a></li>
              <li><a href='/basics.html'>Basics</a></li>
              <!-- <li><a href='/projects.html'>Projects</a></li> -->
              <!-- <li><a href='/pitfalls.html'>Common Pitfalls</a></li> -->
              <li><a href='/downloads.html'>Downloads</a></li>
              <li><a href='/issues.html'>Issues/Bugs</a></li>
            </ol>
          </li>
        </ol>
      </div>

      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>

        {{ content | toc }}

      </div>

      <div id='footer'>Wonderful theme from <a href="http://buildr.apache.org/mailing_lists.html">Buildr</a></div>
    </div>


    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3059795-4");
      pageTracker._trackPageview();
    </script>
    <!-- Google Analytics end -->
  </body>
</html>
